.heading-kanban {
  display: grid;
  place-content: center;
  font-size: 2rem;
  color: aliceblue;
  background: linear-gradient(90deg, rgb(40, 103, 249) 0%, rgb(25, 33, 57) 60%);
  padding: 1rem;
  font-weight: 300;
}

.wrapper-form {
}

.wrapper-field-inputs {
  display: grid;
  grid-template-areas:
    '. polish english case submit .'
    '. radio  image . exit .';

  background-color: rgb(40, 103, 249);
  border-radius: 0.4rem;
  padding-bottom: 1rem;
}

.polish-infinitive {
  display: grid;
  grid-area: polish;
  margin-left: 0.5rem;
}

.english-infinitive {
  display: grid;
  grid-area: english;
  margin-left: 0.5rem;
}

.image_url {
  display: grid;
  grid-area: image;
  padding-left: 0.4rem;
}

.radio-buttons {
  display: grid;
  grid-area: radio;
}

.gram-case {
  display: grid;
  grid-area: case;
  margin-left: 0.5rem;
}

.submit-button {
  display: grid;
  grid-area: submit;
  padding-top: 2.4rem;
}

.close-modal-button {
  display: grid;
  grid-area: exit;
}

.present-tense,
.past-masculine,
.past-feminine,
.future-imperfect,
.future-feminine,
.future-masculine,
.conditional-masculine,
.conditional-feminine,
.imperative {
  display: grid;
  grid-template-columns: repeat(6, 10rem);
  border-radius: 0.4rem;
  margin: 0.4rem;
  overflow: scroll;
  place-content: center;
  width: 100%;
}

.table-entry {
  display: grid;
  justify-content: center;
  background-color: rgb(0, 128, 255);
  border: 1px solid blue;
  border-radius: 0.4rem;
  padding-bottom: 1rem;
}

form,
.kanbanform-form {
  overflow: scroll;
}

label {
  display: grid;
  justify-content: left;
  padding: 0.4rem 0.2rem 0rem 0.2rem;
  font-size: 1rem;
}

input {
  display: grid;
  justify-content: center;
  border-radius: 0.4rem;
  padding: 0.1rem 1rem;
  margin: 0;
  font-size: 1.2rem;
  width: 9rem;
}

select {
  border: 2px solid purple;
  width: 8rem;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  margin-bottom: 0.5rem;
}

input::placeholder {
  color: rgba(5, 5, 5, 0.564);
  padding-left: 0.1rem;
  font-size: 1rem;
}

@media screen and (max-width: 1000px) {
  .present-tense,
  .past-masculine,
  .past-feminine,
  .future-imperfect,
  .future-feminine,
  .future-masculine,
  .conditional-masculine,
  .conditional-feminine,
  .imperative {
    grid-template-columns: repeat(4, 10rem);
  }
}

@media screen and (max-width: 750px) {
  .present-tense,
  .past-masculine,
  .past-feminine,
  .future-imperfect,
  .future-feminine,
  .future-masculine,
  .conditional-masculine,
  .conditional-feminine,
  .imperative {
    grid-template-columns: repeat(3, 10rem);
  }

  .heading-kanban {
    font-size: 1.8rem;
  }
}

@media screen and (max-width: 600px) {
  .wrapper-field-inputs {
    display: grid;
    grid-template-areas:
      '. polish english case . .'
      '. radio  image . . .'
      '. submit  . exit . .';

    background-color: rgb(40, 103, 249);
    padding-bottom: 1rem;
  }

  .submit-button {
    padding-top: 1.2rem;
  }

  .close-modal-button {
    padding-top: 1.2rem;
  }

  input,
  select {
    width: 7rem;
  }

  .heading-kanban {
    font-size: 1.6rem;
  }

  .table-entry {
    margin: 0;
    border-radius: 0;
    padding-top: 0;
  }
}

@media screen and (max-width: 540px) {
  .heading-kanban {
    font-size: 1.5rem;
  }

  .table-entry {
    display: grid;
    place-content: center;
  }
}

@media screen and (max-width: 500px) {
  .heading-kanban {
    font-size: 1.2rem;
  }

  input {
    width: 5.5rem;
  }
}

::-webkit-scrollbar {
  width: 2px;
}

/* Track */
::-webkit-scrollbar-track {
  background: rgb(144, 205, 244);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(144, 205, 244);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
