.heading-kanban {
  display: grid;
  place-content: center;
  font-size: 2.8rem;
  color: aliceblue;
  background-color: black;
  padding: 1rem;
  font-weight: 300;
}

.present-tense,
.past-masculine,
.past-feminine,
.future-imperfect,
.future-feminine,
.future-masculine {
  display: grid;
  grid-auto-flow: column;
  background-color: rgb(43, 119, 226);
}

.table-entry {
  display: grid;
}

.radio-buttons {
  display: grid;
  padding-top: 1rem;
}

.radio-buttons-dokonany input,
.radio-buttons-niedokonany input,
.radio-buttons-niewiem input {
  width: 1rem;
}

.close-modal-button,
.submit-button {
  display: grid;
  margin-top: 1.6rem;
}

label {
  display: grid;
  justify-content: center;
}

input {
  display: grid;
  justify-content: center;
  line-height: 1.4rem;
  border-radius: 0.4rem;
  font-size: 1rem;
}
