.add-noun-button-wrapper {
  display: grid;
  place-content: center;
  padding: 1.4rem 0rem;
}

.noun-buttons {
  display: grid;
  grid-auto-flow: column;
  place-content: bottom;
}

.wrapper-list-buttons {
  display: grid;
  grid-template-areas: 'radio images';
  grid-template-columns: 10rem 1fr;
}

.wrapper-radio-buttons {
  grid-area: radio;
  margin-left: 1rem;
  margin-bottom: 1rem;
  color: black;
  background-color: #43434371;
  padding: 1rem;
  border: 1px solid rgb(0, 0, 0);
  box-shadow: 5px 5px 10px #888888, -5px -5px 10px #ffffff;
  border-radius: 0.6rem;
}

.wrapper-image-list {
  display: grid;
  grid-area: images;
}

.input-div {
  display: grid;
  grid-template-columns: 6rem 1fr;
  grid-gap: 1rem;
  align-content: flex-start;
  margin-bottom: 1rem;
}
