.notes-wrapper {
  background-image: url('../../../public/images/background.png');
  background-size: cover;
  background-repeat: no-repeat;
}

.table-wrapper-present,
.table-wrapper-past,
.table-wrapper-future,
.future-imperfect,
.table-wrapper-future-imperfect {
  display: grid;
}

.table-wrapper-present tr,
.table-wrapper-past tr,
.table-wrapper-future tr,
.table-wrapper-future-imperfect tr {
  width: 2rem;
  height: 2.8rem;
  margin: 2px;
}

.table-wrapper-present tr {
  background-color: rgb(32, 51, 173);
  color: rgb(199, 199, 199);
}

.table-wrapper-past tr {
  background-color: rgb(56, 179, 144);
}

.table-wrapper-future tr {
  background-color: rgb(56, 179, 144);
}

.table-wrapper-future-imperfect tr {
  background-color: rgb(56, 179, 144);
}

.notes-wrapper td {
  border: 4px solid rgba(255, 255, 255, 0);
  border-radius: 12px;
  padding: 4px;
}

.translation {
  display: grid;
  grid-template-areas:
    'image textTranslate  translateButton   translatedText .'
    'notes notes notes notes notes';

  grid-template-rows: auto auto;
  grid-template-columns: 6fr 10fr 6fr 10fr 1rem;
}

.card-button-wrapper {
  display: grid;
  margin: 0 5px;
  place-content: center;
}

.card-image-notes {
  padding: 1rem 0rem;
}

.card-button-wrapper {
  display: grid;
  grid-area: image;
  place-content: center;
  margin: 5px;
  border: 1px solid rgb(0, 0, 0);
  border-radius: 5px;
}

.translation-button {
  display: grid;
  margin: 10px;
}

.text-to-translate {
  display: grid;
  grid-area: textTranslate;
}

.translated-text {
  display: grid;
  grid-area: translatedText;
}

.user-notes {
  display: grid;
  grid-area: notes;
  min-height: 10rem;
  padding: 12px 20px;
  margin: 1rem;
  box-sizing: border-box;
  resize: none;

  color: rgb(45, 45, 45);
  border: 1px solid rgb(1, 1, 1);
  border-radius: 4px;
  background-color: #f9f9fa;
  resize: none;
  font-family: 'work sans';
  font-weight: 600;
}

.translation-radio-buttons {
  display: grid;
  place-content: center;
  margin: 0 0.2rem;
  padding: 1rem;
  border: 1px solid rgb(1, 1, 1);
  border-radius: 4px;
}

.text-to-translate textarea,
.translated-text textarea {
  color: rgb(45, 45, 45);
  padding: 0.4rem;
  border: 1px solid rgb(1, 1, 1);
  border-radius: 4px;
  background-color: #f9f9fa;
  resize: none;
  font-family: 'work sans';
  font-weight: 600;
}

.updateNotesButton {
  display: grid;
  place-content: center;
}

.spinner {
  display: grid;
  place-content: center;
  height: 1.2rem;
}

.translation-btn-link a {
  display: grid;
  place-content: center;
  color: rgb(48, 48, 48);
  text-decoration: none;
  font-size: 1.2rem;
  text-transform: uppercase;
}

.translation-btn-link,
a:hover {
  color: rgb(252, 55, 61);

  transition: all 0.6s;
}

.update-notes-play-voice {
  display: grid;
  grid-auto-flow: column;

  place-content: center;
  padding: 10px;
  margin: 0.2rem;
}

.text-to-speech {
  display: grid;
  grid-area: tts;
}

.btn--update-notes {
  display: grid;
  grid-area: btn;
}

@media screen and (max-width: 750px) {
  .translation {
    display: grid;
    grid-template-areas:
      '. image image image . '
      '. translateButton translateButton translateButton . '
      ' textTranslate textTranslate . translatedText translatedText '
      'notes notes notes notes notes';

    grid-template-rows: auto auto auto auto;
    grid-template-columns: 0.5rem 10fr 1rem 10fr 0.5rem;
  }

  .card-button-wrapper {
    display: grid;
    grid-area: image;
  }

  .translation-radio-buttons {
    display: grid;
    grid-area: translateButton;
    grid-auto-flow: column;
    align-items: center;
    padding: 0;
    border: none;
  }

  .text-to-translate {
    display: grid;
    grid-area: textTranslate;
    margin-left: 1rem;
    min-height: 10rem;
  }

  .translated-text {
    display: grid;
    grid-area: translatedText;
    margin-right: 1rem;
  }

  .user-notes {
    display: grid;
    grid-area: notes;
  }
}

@media screen and (max-width: 700px) {
  .card-button-wrapper {
    margin-top: 3.5rem;
  }
}

@media screen and (max-width: 550px) {
  .translation {
    display: grid;
    grid-template-areas:
      '. image image image . '
      '. translateButton translateButton translateButton . '
      '. textTranslate textTranslate textTranslate .'
      '. translatedText translatedText translatedText .'
      '. notes notes notes .';

    grid-template-rows: auto auto auto auto auto;
    grid-template-columns: 0.5rem 10fr 1rem 10fr 0.5rem;
  }

  .card-button-wrapper {
    display: grid;
    grid-area: image;
  }

  .translation-radio-buttons {
    display: grid;
    grid-area: translateButton;
  }

  .text-to-translate {
    display: grid;
    grid-area: textTranslate;
    min-height: 10rem;
    margin: 1rem;
  }

  .translated-text {
    display: grid;
    grid-area: translatedText;
    min-height: 10rem;
    margin: 1rem;
  }

  .user-notes {
    display: grid;
    grid-area: notes;
  }
}

@media screen and (max-width: 530px) {
  .update-notes-play-voice {
    width: 85%;
  }
}
