.video-js {
  width: 500px;
  height: auto;
  aspect-ratio: 16/9;
  display: block;
  margin: 0 auto;
}

@media screen and (max-width: 550px) {
  .video-js {
    width: 450px;
    height: auto;
    aspect-ratio: 16/9;
    display: block;
    margin: 0 auto;
  }
}

@media screen and (max-width: 500px) {
  .video-js {
    width: 400px;
    height: auto;
    aspect-ratio: 16/9;
    display: block;
    margin: 0 auto;
  }
}

@media screen and (max-width: 430px) {
  .video-js {
    width: 280px;
    height: auto;
    aspect-ratio: 16/9;
    display: block;
    margin: 0 auto;
  }
}
